<nav-header-common userType="{{model.user.userType}}" uid="{{model.user._id}}"></nav-header-common>

<div class="container-fluid">
    <h1>Profile</h1>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
        Do you wish to go back to the admin panel? <a class="alert-link" ui-sref="admin">Admin Panel</a>
    </div>

    <div ng-switch="model.userSelectedForEditing.userType">
        <div ng-switch-when="normalUser">
            <ng-include src="'views/admin/templates/editors/normaluser-edit.view.client.html'"></ng-include>
            <br/>
        </div>
        <div ng-switch-when="appOwner">
            <ng-include src="'views/admin/templates/editors/appowner-edit.view.client.html'"></ng-include>
            <br/>
        </div>
    </div>

</div>


<nav-footer-common
        uid="{{model.user._id}}">
</nav-footer-common>

