<div class="container">
    <div class="alert alert-info" ng-if="model.noAppToShow">
        Nothing to Show!
    </div>


    <div class="">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4" ng-repeat="application in model.applications">
                        <div class="card card-member">
                            <div class="content">
                                <div class="avatar ">
                                    <a ui-sref="app-page({appid: application._id})"><img alt="..."
                                         class="img-circle"
                                         ng-src="{{application.profileimage}}"
                                         alt="{{application.appname}}"
                                         title="{{application.appname}}"/>
                                    </a>
                                </div>
                                <div class="description">
                                    <h3 class="title">{{application.appname}}</h3>
                                    <p class="small-text">URL: {{application.appurl}}</p>
                                    <p class="description">{{application.about}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>