<nav-header-common userType="{{model.currentUser.userType}}" uid="{{model.currentUser._id}}"></nav-header-common>


    <div class="container">
        <h3>{{model.user.username}}'s Profile</h3>


        <div class="text-center" ng-if="model.user.profileimage">
        <img ng-src="{{model.user.profileimage}}"
             title="{{model.user.username}}"
             class="img-circle"
             alt="{{model.user.username}}'s Profile Image" />
        </div>
        <br/>

        <ul class="list-unstyled list-inline text-center">
            <li>Name: {{model.user.firstName + " " + model.user.lastName}}</li>
        </ul>

        <div class="text-center">
        <span ng-if="model.sameUserCantFollow === false && model.currentUser.userType !== 'appOwner'">
        <a class="btn btn-success" ng-if="model.followUser" ng-click="model.follow()">
            Follow {{model.user.username}}
        <sup><span class="glyphicon glyphicon-star"></span></sup>
        </a>
        <a class="btn btn-danger" ng-if="model.unFollowUser" ng-click="model.unfollow()">
            Unfollow {{model.user.username}}
            <sup><span class="glyphicon glyphicon-star-empty"></span></sup>

        </a>
        </span>
        </div>
        <br/>

        <div class="followers">
        <ul class="text-center list-inline list-unstyled">
            <li><a href="" ng-click="model.toggle('followers')">Followers</a></li>
            <li><a href="" ng-click="model.toggle('following')">Following</a></li>
        </ul>

            <ul class="list-group" ng-if="model.showingFollowers">
                <li ng-if="!model.userFollowers || model.userFollowers.length ===0" class="list-group-item">
                    No Followers
                </li>
                <li ng-repeat="follower in model.userFollowers" class="list-group-item">
                    <a ui-sref="profile({uid: follower.userid})" target="_blank">{{follower.username}}</a>
                </li>
            </ul>

            <ul class="list-group" ng-if="model.showingFollowing">
                <li ng-if="!model.userFollowing || model.userFollowing.length ===0" class="list-group-item">
                    Not Following Anybody!
                </li>
                <li ng-repeat="following in model.userFollowing" class="list-group-item">
                    <a ui-sref="profile({uid: following.userid})" target="_blank">{{following.username}}</a>
                </li>
            </ul>

        </div>
        
   </div>




<nav-footer-common
        uid="{{model.currentUser._id}}">
</nav-footer-common>

