<div class="container-fluid">
    <h1>Profile</h1>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <div ng-switch="model.user.userType">
        <div ng-switch-when="normalUser">
            <ng-include src="'views/user/templates/editors/normaluser-edit.view.client.html'"></ng-include>
            <br/>
        </div>
        <div ng-switch-when="appOwner">
            <ng-include src="'views/user/templates/editors/appowner-edit.view.client.html'"></ng-include>
            <br/>
        </div>
    </div>

</div>


<nav-footer-common
        uid="{{model.user._id}}">
</nav-footer-common>

